
.brandLogo{
    padding: 1% 9%;
}
.brandList{
 display: flex;
 align-items: center;
 justify-content: space-between;
}


.brandList  img{
  filter: grayscale(100%) ;
}

@media (max-width:1024px) {
    .brandList{
    flex-direction:column;
    flex-wrap: wrap;
    padding:0%;
   }
}

