.contactSection {
    padding: 5% 10%;
}

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 5%;
    position: relative;
    overflow: hidden;
}

.formBox {
    flex: 1;
}

.radioGroup {
    display: flex;
    gap: 30px;
    margin-bottom: 2%;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    align-items: center;
    justify-content: space-between;

}

.radioGroup input {
    margin-right: 1.5%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 1% 0 1%;
    width: 100%;
}

form input,
form textarea {
    padding: 1.2%;
    border-radius: 10px;
    border: 1px solid #333;
    outline: none;
}

form textarea {
    height: 120px;
    resize: none;
}

.formBox .buttonContact {
    margin-top: 20px;
    padding: 15px;
    border: none;
    background: #1c1c24;
    color: white;
    border-radius: 10px;
}

.image-box {
    flex: 1;
    display: flex;
    justify-content: center;



}

.image-box img {
    width: 100%;
    max-width: 400px;
    position: absolute;
    right: -20%;
    top: 10%;

}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .image-box {
        display: none;
    }
}