
.processSection {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.processBox {
    border-radius: 30px;
    background: #F3F3F3;
    padding: 25px 30px;
    border: 1px solid #000;
    box-shadow: 0px 6px 0px black;
}


.processBox.active {
    background: #B9FF66;
}

.processHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.number {

font-weight: 500;

font-size: 60px;
line-height: 100%;
letter-spacing: 0%;

}

.processHeader h3 {
  

   font-weight: 500;

   font-size: 30px;

line-height: 100%;
letter-spacing: 0%;

}


.processBoxToggle {
    width: 45px;
    border-radius: 50%;
    border: 1px solid #000;
    background: #fff;
    font-size: 24px;
    cursor: pointer;
}

.processContent {
    margin-top: 2%;
}

.processContent p {
 
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;

}

.processContent hr {
    margin-bottom: 1.5%;
}


@media (max-width: 992px) {

    .number {
        font-size: 30px;
    }

    .processHeader h3 {
        font-size: 20px;
    }

    .processBoxToggle {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}

@media (max-width: 576px) {

    .processHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .left {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .number {
        font-size: 24px;
    }

    .processHeader h3 {
        font-size: 18px;
    }

    .processBoxToggle {
        align-self: flex-end;
    }
}